
<!DOCTYPE html>
<html>
  <head>
    <title>Sarthak Kaushik | Developer, Front-end Developer &amp; Designer
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:locale" content="en_US">
    <meta name="theme-color" content="#7510F7">

    <meta name="description" content="Developer, Front-end Developer &amp; Designer">
    <meta property="og:description" content="Developer, Front-end Developer &amp; Designer">
    <meta property="og:site_name" content="Sarthak Kaushik">
    <meta name="twitter:description" content="Developer, Front-end Developer &amp; Designer. I design and code beautifully simple things, and I love what I do.">
    <meta name="twitter:image:alt" content="Sarthak Kaushik">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/9bdc906322.js"></script>
  </head>
  <body>