
<nav class="navbar is-transparent is-planner">
    <div class="container">
      <div class="navbar-brand"><a class="navbar-item" href="/"><img src="https://mattfarley.ca/img/mf-logo.svg" alt="Sarthak Kaushik | Developer, Front-end Developer &amp; Designer" height="48"></a></div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-end">
          <div class="navbar-item">
            <p class="buttons"><a class="button is-medium tooltip is-tooltip-bottom" data-tooltip="Reset" onclick="document.getElementById('form').reset();"><span class="icon is-small"><i class="fas fa-undo-alt"></i></span></a><a class="button is-medium tooltip is-tooltip-bottom" data-tooltip="Close" href="/"><span class="icon is-small"><i class="fas fa-times"></i></span></a></p>
          </div>
        </div>
      </div>
    </div>
  </nav>